<h4>Formularios <small> Template </small></h4>
<hr>
<!-- La mayoría de la configuración de los formularios por template se hace a través de HTML -->
<form autocomplete="off" (ngSubmit)="save(form)" #form="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input #nameInput="ngModel" [class.is-invalid]="nameInput.invalid && nameInput.touched" class="form-control" type="text" placeholder="Nombre" name="name" [ngModel]="usuario.name" required minlength="5">
                <small *ngIf="nameInput.invalid && nameInput.touched" class="form-text text-danger">El nombre debe contener mínimo 5 caracteres</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input #surnameInput="ngModel" [class.is-invalid]="surnameInput.invalid && surnameInput.touched" class="form-control" type="text" placeholder="Apellido" name="surname" [ngModel]="usuario.surname" required minlength="5">
                <small *ngIf="surnameInput.invalid && surnameInput.touched" class="form-text text-danger">El apellido debe contener mínimo 5 caracteres</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input #emailInput="ngModel" [class.is-invalid]="emailInput.invalid && emailInput.touched" class="form-control" type="email" placeholder="Correo electrónico" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [ngModel]="usuario.email" required>
            <small *ngIf="emailInput.invalid && emailInput.touched" class="form-text text-danger">Ingrese un correo válido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Países</label>

        <div class="col-8">
            <select #countriesSelect="ngModel" [class.is-invalid]="countriesSelect.invalid && countriesSelect.touched" class="form-control" name="country" [ngModel]="usuario.country" required>
                <option *ngFor="let pais of paises" [value]="pais.code" [disabled]="paises.length === 0">{{pais.name}}</option>
            </select>
            <small *ngIf="countriesSelect.invalid && countriesSelect.touched" class="form-text text-danger">Este campo es obligatorio</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Género</label>
        <div class="col-8">

            <div class="form-check form-check-inline">
                <input #genero="ngModel" class="form-check-input" name="genero" type="radio" value="M" [class.is-invalid]="genero.invalid && genero.touched" [ngModel]="usuario.gender" required>

                <label class="form-check-label">Masculino</label>
            </div>

            <div class="form-check form-check-inline">
                <input #genero="ngModel" class="form-check-input" name="genero" type="radio" value="F" [class.is-invalid]="genero.invalid && genero.touched" [ngModel]="usuario.gender" required>

                <label class="form-check-label">Femenino</label>
            </div>

        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>