<h4>Formularios <small> Reactivos </small></h4>
<hr>

<form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="name" [class.is-invalid]="validateField('name')">
                <small class="text-danger" *ngIf="validateField('name')">Minimo 5 caracteres</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="surname" [class.is-invalid]="validateField('surname')">
                <small class="text-danger" *ngIf="validateField('surname')">Minimo 5 caracteres</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="validateField('email')">
            <small class="text-danger" *ngIf="validateField('email')">Email no válido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="userName" [class.is-invalid]="validateField('userName')">
            <div>
                <small class="text-danger" *ngIf="validateField('userName')">Este nombre de usuario ya existe</small>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Contraseña..." formControlName="pass1" [class.is-invalid]="validateField('pass1')">

        </div>
    </div>

    <div class="form-group row ">
        <label class="col-2 col-form-label">Repita la contraseña</label>
        <div class="col ">

            <input class="form-control" type="text " placeholder="Repita la contraseña... " formControlName="pass2" [class.is-invalid]="validatePassword2">

        </div>
    </div>


    <div class="form-group row" formGroupName="address">
        <label class="col-2 col-form-label">Address</label>
        <div class="form-row col">

            <div class="col">
                <input type="text" class="form-control" placeholder="Hood" formControlName="hood" [class.is-invalid]="validateField('address.hood')">
                <small class="text-danger" *ngIf="validateField('address.hood')">Este campo es obligatorio</small>
            </div>

            <div class="col">
                <input type="text" class="form-control" placeholder="City" formControlName="city" [class.is-invalid]="validateField('address.city')">
                <small class="text-danger" *ngIf="validateField('address.city')">Este campo es obligatorio</small>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Hobby</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody formArrayName="hobbies">
                    <tr *ngFor="let control of hobbiesForm.controls; let i = index">
                        <td>{{i + 1}}</td>
                        <td>
                            <input class="form-control" type="text" [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteHobby(i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="addHobby()">+ Agregar</button>

        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>


<br>
<br>

<pre style="background-color: black; color: white;">
    Estado del formulario: {{form.valid}}
    Status: {{form.status}}
</pre>

<pre style="background-color: black; color: white;">
    {{form.value | json}}
</pre>