<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">

    <app-listas [terminada]="true"></app-listas>

    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 2 page"></app-explore-container> -->

</ion-content>